@model TodoViewModel

<table>
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
    </thead>
    <tbody>
        @foreach (var t in Model.TodoList){
            <tr>
                <td class="todo-column">@t.Id</td>
                <td class="todo-column">@t.Name</td>
                <td class="buttons-column">
                    <button class="delete-todo" onclick="DeleteTodo(@t.Id)">Delete</button>
                </td>
                
            </tr>
        }
    </tbody>
</table>

