@model TodoViewModel

<table>
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
    </thead>
    <tbody>
        @foreach (var t in Model.TodoList){
            <tr>
                <td class="todo-column">@t.Id</td>
                <td class="todo-column">@t.Name</td>
                <td class="buttons-column">
                    <input type="submit" class="delete-todo" value="Delete" onclick="deleteTodo(@t.Id)">
                    <input type="submit" class="update-todo" value="Update" onclick="populateForm(@t.Id)">
                </td>
                
            </tr>
        }
    </tbody>
</table>

